.customDividerStyle {
	text-transform: uppercase;
	font-weight: bold !important;
	color: rgb(196, 193, 193) !important;
	margin: 0;
}

.customDividerStyle::before,
.customDividerStyle::after {
	content: "";
	border-block-start: 3px solid rgba(5, 5, 5, 0.06) !important;
}

.customDividerStyle > span {
	padding-inline: 0.6rem !important;
}
