.surveyBlockContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 40px 0;
}

.surveyBlockContainer > div {
	margin-bottom: 2rem;
	width: 100%;
}

.pageTitle {
	font-size: 1.2rem;
	color: rgb(225, 219, 219);
	font-weight: 600;
	text-align: center;
	background-color: rgb(135, 138, 138);
	padding: 0.8rem 0;
	flex-basis: 5%;
}

.editIcon {
	color: rgb(59, 59, 182);
	margin-left: 0.5rem;
}

.fileUploadContainer {
	flex-basis: 25%;
	min-height: 13rem;
}

.dragAndDropContainer {
	margin: 0 2.5rem;
}

.submitBtn {
	text-align: center;
}

.cardListContainer {
	display: block;
	min-height: 8rem;
	margin: 0.8rem 2.5rem;
}
