.labelWrapper {
	text-align: center;
	margin-top: 0.8rem;
	text-transform: uppercase;
}

.label {
	font-size: 0.975rem;
}

.label,
.icon {
	font-weight: 600;
	color: rgb(196, 193, 193);
}

.icon {
	font-size: 1.5rem;
	vertical-align: middle;
}
