.rateLabelContainer {
	display: block;
	padding: 0.5rem;
}

.rateLabelHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.labelTitle {
	font-size: 1.125rem;
	color: rgb(103, 102, 101);
}

.inputField {
	font-size: 1.125rem;
	margin-bottom: 1.125rem;
}
