.headerContainer {
	background-color: #ffffff;
	max-height: 3.5rem;
	margin: 0;
	padding: 0;
}

.rowContaier {
	align-items: baseline;
}

.topLeftBarContent > p {
	font-size: 1.225rem;
	font-weight: 500;
	margin: 0;
	padding-left: 1.125rem;
	cursor: pointer;
}

.editIcon {
	vertical-align: middle;
	color: blue;
	font-size: 1.5rem;
	margin-left: 0.125rem;
}

.menuOpenIcon {
	font-size: 1.55rem;
	margin-left: 0.5rem;
	vertical-align: -webkit-baseline-middle;
	color: rgb(68, 93, 54);
}
.topCenterBarContent {
	display: flex;
	justify-content: center;
}

.navWrapper {
	list-style-type: none;
	margin: 0;
	display: flex;
	justify-content: space-around;
}

.navWrapper li {
	font-size: 0.95rem;
	text-transform: uppercase;
	font-weight: 700;
}

.topRightBarContent {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

/* Smallest viewport size */
@media (max-width: 576px) {
	.topLeftBarContent > p {
		font-size: 1rem;
		padding-left: 0.4rem;
		font-weight: bold;
	}
	.editIcon {
		font-size: 1.5rem;
		margin-left: 0.125rem;
	}
	.navWrapper {
		display: none;
	}

	.topRightBarContent > button {
		flex-basis: 23%;
		font-size: 0.75rem;
		line-height: 0.8rem;
		min-height: 1rem;
		padding: 0 0.5rem;
		margin-right: 0.2rem;
	}
}

@media (max-width: 376px) {
	.topRightBarContent > button {
		display: none;
	}
}

@media (min-width: 576px) and (max-width: 992px) {
	.topLeftBarContent > p {
		font-size: 0.85rem;
		padding-left: 0.6rem;
		font-weight: bold;
	}
	.editIcon {
		font-size: 1rem;
		margin-left: 0.125rem;
	}
	.navWrapper {
		width: 100%;
	}
	.navWrapper li {
		font-size: 0.7rem;
		font-weight: bold;
	}
	.topRightBarContent > button {
		padding: 0.5px;
		margin-inline-end: 0;
		font-size: 0.5rem;
		line-height: 0;
		font-weight: bold;
		min-height: 1.5rem;
	}
}

/* Medium to large viewport sizes */
@media (min-width: 992px) and (max-width: 1200px) {
	.topLeftBarContent > p {
		font-size: 1rem;
		padding-left: 1rem;
	}
	.editIcon {
		font-size: 1.25rem;
		margin-left: 0.125rem;
	}
	.navWrapper {
		width: 100%;
	}
	.navWrapper li {
		font-size: 0.8rem;
	}
	.topRightBarContent > button {
		flex-basis: 25%;
		padding: 1px;
	}
}

/* Largest viewport size */
@media (min-width: 1200px) {
	.editIcon {
		font-size: 1.6rem;
		margin-left: 0.125rem;
	}
	.navWrapper {
		width: 60%;
	}
	.topRightBarContent {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.topRightBarContent > button {
		flex-basis: 25%;
		padding: 1px;
	}
}
